/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Tambahan yang sering digunakan
.DS_Store
/public/uploads
/public/css
/public/js
/public/mix-manifest.json
.env.testing
composer.lock
package-lock.json
yarn.lock
supervisord.log
supervisord.pid
*.log
*.sqlite
*.sqlite-journal
